body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#tweet-list {
  width: 30vw;
}

.chart {
  width: 50vw;
}

.chart-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}

.inline-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
}
